.cell-closed {
   background-color: darkBlue;
   height:50px;
   width:50px;
   cursor:pointer;
}

.cell-open {
   background-color: lightBlue;
   height:50px;
   width:50px;
   cursor:pointer;
}

.cell-explode {
   background-color: white;
   height:50px;
   width:50px;
   cursor:pointer;
}
