.cell-closed {
   background-color: darkGrey;
   height:50px;
   width:50px;
   cursor:pointer;
   vertical-align:top;
}

.cell-open {
   background-color: white;
   height:50px;
   width:50px;
   cursor:pointer;
   vertical-align:top;
}

.cell-flag {
   background: url("../assets/waving-flag-.png") center no-repeat;
   background-color: red;
   height:50px;
   width:50px;
   cursor:pointer;
   vertical-align:top;
}

.cell-explode {
   background-color: white;
   height:50px;
   width:50px;
   cursor:pointer;
   vertical-align:top;
}
